:root {
  --navSize: 60px;
  --navColor: #1f1e1d;
  --corFirst: #0084ff;
  --corsobre: linear-gradient(90deg, #0084ff, #1f1e1d);
  --corsobre0: #f0f0f0;
  --containerSize: 1200px;
  --corSecond: #ffd700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", "sans-serif";
  font-size: clamp(14px, 2vw, 16px);
  word-break: break-all; /*Quebra as letras caso seja menor*/
  list-style: none;
}
p::first-letter {
  text-transform: uppercase;
  padding-left: 15px;
}
html {
  scroll-behavior: smooth;

  scroll-padding-top: 90px !important;

  position: relative;
}
a {
  text-decoration: none;
  color: #000000;
}

header {
  display: flex;
  position: relative; /* retirar o padding-top no header la no mobile*/
  flex-direction: row;
  width: 100%;
  height: 60px;
  align-items: center; /* Centraliza verticalmente */
  color: #000000;
  z-index: 1055;
  margin-bottom: 10px;
}
header img {
  height: 60px;
}
.header-fixo {
  display: flex;
  position: fixed; /* retirar o padding-top no header la no mobile*/
  flex-direction: row;
  width: 100%;
  align-items: center; /* Centraliza verticalmente */
  color: #ffffff;
  background-color: var(--navColor);
  filter: drop-shadow(3px 3px 3px #2b2a2a);
  z-index: 1055;
  margin-bottom: 10px;
}
header nav {
  display: flex;
  width: var(--containerSize);
  margin: 0 auto;
  justify-content: space-between;
  text-align: center;
  align-items: center; /* Centraliza verticalmente */
  padding: 15px;
}

header nav .btn-menu {
  display: none;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 15px;
}
header nav ul li a {
  color: #ffd700;
  padding: 8px 16px;
}
header nav ul li a:not(.ativarlink) {
  color: #a2a2a3;
}
.container {
  max-width: var(--containerSize);
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 1px 1px 80px #cec9c9;
  padding: 50px;
  overflow: hidden;
}

/**tag geral*/

h1 {
  color: var(--navColor);
  font-size: clamp(24px, 2vw, 38px) !important;
}

/******************* inicio***********************/
#inicio {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 8px;
  position: relative;
}

#inicio > span {
  font-family: "Times New Roman", Times, serif !important;
  margin-bottom: 30px;
}
#inicio > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  width: 100%;
  padding: 8px;
}
#inicio > div > * {
  flex: 1;
}

#inicio > div > article > h1 {
  color: var(--navColor);
  font-size: clamp(24px, 2vw, 38px);
  text-align: center;
  margin-bottom: 20px;
  background-color: rgb(0, 30, 85);
  padding: 5px;
}
#inicio div article h1 span {
  font-size: clamp(24px, 2vw, 38px) !important;
  color: var(--corSecond);
  text-shadow: 1px 1px 1px rgb(2, 2, 2) 000;
}
#inicio > div > article > h2 {
  color: #9e9999;
  font-size: clamp(16px, 2vw, 28px);
  margin-bottom: 20px;
}
#inicio > div > article > p {
  color: #9e9999;
  margin-bottom: 20px;
}
#inicio > div > article > button {
  padding: 8px 16px;
  background-color: var(--corFirst);

  border: none;
  width: 120px;
  border-radius: 3px;
}
#inicio > div > article > button:hover a {
  color: var(--corFirst);
  background-color: var(--corSecond);
}
#inicio > div > article > button:hover {
  background-color: var(--corSecond);
}
#inicio > div > article > button a {
  color: var(--corSecond);
}

#inicio > div > figcaption > img {
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  opacity: 0.8;
  transform: rotateY(180deg);
  pointer-events: none;
  filter: drop-shadow(5px 5px 5px #858282);
}
#inicio > div > figcaption {
  position: relative;
}

#inicio > div > figcaption::before {
  content: "";
  position: absolute;
  width: 200%;
  top: 100px;
  right: -370px;
  height: 10px;
  background-image: linear-gradient(150deg, var(--corFirst), var(--corSecond));
  filter: drop-shadow(5px 5px 5px #424242);
  transform: rotate(45deg);
}
/****************** sobre *****************/
#sobre {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  filter: drop-shadow(5px 5px 5px #858282);
  background-color: var(--corsobre0);
  color: #fff;
  margin-top: 60px;
}
#sobre h1 {
  color: var(--corFirst);
}
#sobre:before {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 100px solid var(--corsobre0);
}
#sobre span {
  color: var(--corSecond);
}

#sobre > div * {
  flex: 1;
}
#sobre > div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  filter: drop-shadow(5px 5px 5px #858282);
  border-radius: 8px 8px 0 0;
  background-image: var(--corsobre);
}
#sobre div > article {
  text-align: justify;
  margin-top: 30px;
  padding: 8px;
  filter: drop-shadow(3px 3px 6px #272424);
}
#sobre div > figure {
  position: relative;
}
#sobre div > figure > img {
  display: flex;
  position: relative;
  width: 80%;
  height: 80%;
  margin: 0 auto;
}
#sobre div > figure > figcaption {
  position: absolute;
  right: 0;
  top: -30px;
  width: 150px;
  color: var(--corSecond);
  padding: 8px;
  filter: drop-shadow(5px 5px 5px #000000);
  background-color: rgba(255, 255, 255, 0.075);

  /* Aplicar o efeito de desfoque */
  backdrop-filter: blur(10px);
}
/****************** trabalhos *****************/

#trabalho {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 30px 0;
}
#trabalho div img {
  display: block;
  width: 100%;
}
#trabalho .servicos {
  padding-top: 30px;
}
#trabalho .servicos > p {
  color: var(--navColor);
  text-align: justify;
}
#trabalho .servicos > span {
  text-align: center !important;
  font-family: "Times New Roman", Times, serif !important;
}
#trabalho .servicos > * {
  padding-bottom: 30px;
}
#trabalho .servicos div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-items: center;
  justify-items: center;
  text-align: justify;
  margin-bottom: 30px;
}
#trabalho .servicos > div > span {
  filter: drop-shadow(5px 5px 5px #858282);
  background-color: #1f1e1d;
  padding: 8px;
  border-radius: 8px;
  color: var(--corFirst);
}

/****************** beneficios *****************/
#beneficios {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: #000;
  border-top: 1px solid var(--corSecond);
  border-bottom: 1px solid var(--corSecond);
  padding: 30px 0;
  margin: 30px 0;
}
#beneficios h1 {
  margin-bottom: 30px;
}
#beneficios article > div p,
#beneficios article > div h2,
#beneficios article > div h3 {
  color: #6e6b6b;
}
#beneficios article > div i {
  color: var(--corSecond);
  font-size: 38px;
  filter: drop-shadow(3px 3px 6px #fdfdfd);
}
#beneficios article > div h2 {
  font-size: clamp(20px, 2vw, 28px);
}
#beneficios article {
  display: flex;
  flex-direction: row;
}
#beneficios article > * {
  flex: 1;
}
#beneficios article > div > * {
  padding: 8px 8px;
}
#trabalho span {
  font-family: "Times New Roman", Times, serif !important;
  color: #838181;
  padding: 8px;
}

/****************** perguntas *****************/
#perguntas {
  margin: 30px;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
}
#perguntas h1 {
  color: var(--corSecond);
  background-color: var(--navColor);
}
#perguntas p {
  color: #6b6666;
}
#perguntas > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: justify;
}
#perguntas > div > * {
  flex: 1;
  padding: 5px;
}

#perguntas > span {
  font-family: "Times New Roman", Times, serif !important;
  background-color: var(--navColor);
  color: var(--corFirst);
  padding: 8px;
}
/****************** timeline *****************/

#timeline {
  position: relative;
  padding: 30px;
  text-align: center;
  overflow: hidden;
}
#timeline h1,
#timeline > p {
  color: #000000;
  padding: 15px 0;
}

#timeline div {
  padding-bottom: 30px;
  position: relative;
}

#timeline div p:nth-child(odd) {
  overflow: hidden;
  padding: 10px;
  margin-left: 50%;
  text-align: start;
  background-color: #ffffff;
  box-shadow: 1px 1px 6px #000000;
  border-radius: 0px 8px 8px 0px;
}
#timeline div p:nth-child(even) {
  overflow: hidden;
  padding: 10px;
  margin-right: 50%;
  text-align: end;
  background-color: #ffffff;
  box-shadow: 1px 1px 6px #000000;
  border-radius: 8px 0px 0 8px;
}

#timeline div:before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 50%;
  width: 5px;
  background-color: var(--corSecond);
  transform: translateX(-50%);
  z-index: 100;
}

#timeline div p:last-child:before {
  height: 0;
}

/******************* Proprietário ***********************/
#Proprietário {
  display: flex;
  justify-content: start;
  color: #141313;
  filter: drop-shadow(5px 5px 5px #858282);
  background-color: #fff;
  overflow: hidden;
  background-image: url("/img/5594016.jpg");
  background-attachment: fixed;
  background-position: center;
}

#Proprietário div > h1 {
  color: var(--corSecond);
  margin-bottom: 5px;
  background-color: var(--navColor);
  padding: 8px;
  width: 100%;
  margin: 8px 0;
}
#Proprietário div:nth-child(2) > h2 {
  color: var(--corSecond);
  margin-bottom: 5px;
  background-color: var(--navColor);
  padding: 8px;
  width: 300px;
  margin: 8px 0;
}
#Proprietário div > p {
  color: #9d9da0;
  background-color: rgba(255, 255, 255, 0.075);

  /* Aplicar o efeito de desfoque */
  backdrop-filter: blur(10px);
  margin-bottom: 5px;
}
#Proprietário > * {
  flex: 1;
}
#Proprietário > div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-left: 10px solid #ffffff;
}
#Proprietário > div:first-child {
  border-left: 0px solid #ffffff;
}

#Proprietário img {
  display: block;
  width: 300px;
  height: 300px;
}
#Proprietário div:nth-child(1) {
  display: flex;
  justify-content: space-around;
}
#Proprietário div:nth-child(2) {
  display: flex;
  justify-content: space-around;
}
#Proprietário div:nth-child(2) .redes-sociais {
  background-color: var(--navColor);
  padding: 8px;
  border-radius: 8px;
  filter: drop-shadow(5px 5px 5px #858282);
}

#Proprietário div:nth-child(2) .redes-sociais i:not(:hover) {
  opacity: 0.6;
}

#Proprietário div:nth-child(2) .redes-sociais i:hover {
  opacity: 1;
}
/******************* mapa ***********************/
#local {
  display: flex;
  justify-content: space-around; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  width: 100%;
  height: 450px;
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #a3a3a3;
  margin-top: 50px;
  padding-top: 50px;
  border-top: 1px solid #a3a3a3;
}

#local > * {
  flex-basis: 50%; /* Cada filho ocupa 50% do espaço horizontal */
}
#local > .texto-map {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  background-color: #adbac5;
  border-radius: 8px 0px 0px 8px;
  filter: drop-shadow(5px 5px 5px #858282);
}
#local > .texto-map h2 {
  font-size: clamp(30px, 3.8vw, 38px);
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
  width: 100%;
  margin: 0 auto;
  color: var(--corFirst);
}
#local > .texto-map a {
  text-align: start;
  color: #81807a;
  padding-left: 15px;
}
#local > .texto-map a span {
  color: #504444;
}

#local > .mapa {
  display: flex;
  justify-content: space-around; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  width: 100%;
  position: relative;
}

/******************* contatos ***********************/
#contatos {
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  flex-direction: row;
  position: relative;
  gap: 15px;
  margin: 30px 0;
  width: 100%;
  background-color: #f1efef;
  color: rgb(114, 114, 114);
}
#contatos p::first-letter {
  padding: 0;
}
#contatos > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  min-height: 500px;
  text-align: start;
  padding: 0 15px;
}

#horario {
  filter: drop-shadow(5px 5px 5px #000000);
  font-weight: normal !important;
  background-color: var(--navColor);
}
#contatos > div span {
  font-style: italic;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  max-width: 16ch;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  border-radius: 5px;
}
#contatos > div > h1 {
  padding: 0 !important;
  font-size: clamp(30px, 3.8vw, 38px);
  background-color: var(--navColor);
  border-radius: 50px 0px 50px 0px;
  text-align: center;
  color: var(--corFirst);
  filter: drop-shadow(5px 5px 5px #858282);
}

#contatos .redes-sociais {
  color: #6e4e11;
  text-align: center;
  margin-bottom: 15px;
  padding: 43.6px;
  border-bottom: 1px solid #ccc;
}

#contatos .redes-sociais > {
  padding: 0;
}

#contatos .redes-sociais > a:nth-child(2) i {
  text-align: center;
  color: #72197a;
  font-size: 18px;
}
#contatos .redes-sociais > a:nth-child(3) i {
  text-align: center;
  color: #0084ff;
  font-size: 18px;
}
#contatos .redes-sociais > a:nth-child(4) i {
  text-align: center;
  color: #3d7db9;
  font-size: 18px;
}
#contatos .redes-sociais > a:nth-child(5) i {
  text-align: center;
  color: #bbb4b4;
  font-size: 14px;
  margin: 0;
  padding: 0;
  width: 10px;

  align-items: center;
  background-color: transparent;
}

#contatos .links-contatos a {
  color: var(--navColor);
}
#contatos .links-contatos i {
  color: #000;
  filter: drop-shadow(1px 1px 1px var(--corSecond));
  padding-right: 5px;
}

#contatos > div > form {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-height: 500px;
  justify-content: space-around;
  align-items: center; /* Centraliza verticalmente */
}
#contatos > div > form > div {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center; /* Centraliza horizontalmente */
  flex-direction: column;
}
#contatos > div > form > div > label {
  display: flex;
  width: 100%;
  max-width: 50%;
  position: relative;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: start;
  flex-direction: column;
}
#contatos > div > form > div > input {
  display: flex;
  width: 100%;
  max-width: 100%;
  position: relative;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  flex-direction: column;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--navColor);
  border-bottom: 1px solid #ccc;
}
#contatos > div > form > div > input::placeholder {
  color: #a19c9c;
}
#contatos > div > form > div > textarea {
  outline: none;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  resize: none;
}
#contatos > div > form > div:nth-child(4) label {
  align-items: center; /* Centraliza verticalmente */
  margin: 0 auto;
}
#contatos > div > form > div > button {
  padding: 15px;
  background-color: var(--navColor);
  color: white;
  border: none;
  cursor: pointer;
}
#contatos > div > form > div > button:hover {
  padding: 15px;
  background-color: #0084ff;
  color: #ffffff;
  font-weight: bolder;
  border-radius: 5px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  border-bottom: 1px solid rgb(0, 26, 255);
  -webkit-text-fill-color: inherit !important;
  box-shadow: 0 0 0 1000px rgba(255, 84, 4, 0);
  transition: background-color 5000s ease-in-out 0s;
}
#whatsapp {
  position: fixed;
  bottom: 25px;
  left: 15px;
  filter: drop-shadow(5px 5px 5px #0f0f0f);
}
#whatsapp a > i {
  font-size: 38px;
  color: #25d366;
}

#subir {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  bottom: 25px;
  right: 15px;
  text-align: center;
  visibility: hidden;
  filter: drop-shadow(8px 8px 4px rgb(0, 0, 0));
  z-index: 10;
  outline: none;
  border: none;
  background: transparent;
  text-decoration: none;
  animation: up 1s infinite linear;
  z-index: 100;
}
#subir i {
  font-size: 28px;
  color: #000000;
}
@keyframes up {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0);
  }
}

@media (max-width: 900px) {
  .hidden {
    display: none;
  }
  #menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  #menu i {
    font-size: 40px;
    color: #fff;
  }
  #menu-mobile {
    position: absolute;
    flex-direction: column;
    top: var(--navSize);
    right: 0;
    width: 50%;
    background-color: var(--navColor);
    z-index: 100;
    text-align: center;
    padding: 15px;
  }

  header nav .btn-menu {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    width: 50px;
    margin-right: calc(50% - 25% - 32px);
  }
  header nav h1 {
    margin-left: calc(50% - 25% - 25px);
  }
  #inicio {
    padding-top: 60px;
  }
  #inicio > div > * {
    flex: auto;
  }
  #inicio > div > figcaption > img {
    top: 0;
    right: 0;
    position: absolute;
    width: 300px !important;
    display: block;
    z-index: 0;
    opacity: 0.05 !important;
    transform: rotateY(180deg);
  }
  #sobre > div {
    flex-direction: column;
  }
  #beneficios article {
    flex-direction: column !important;
  }
  #perguntas > div {
    flex-direction: column;
  }

  #Proprietário {
    flex-direction: column-reverse;
  }
  #Proprietário > div {
    border-left: 0px solid #ffffff;
  }
  #local {
    height: auto;
    flex-direction: column;
  }
  #local > * {
    flex-basis: 100%; /* Cada filho ocupa 50% do espaço horizontal */
  }
  #local > .texto-map a {
    text-align: center;
  }
  #local > .mapa iframe {
    padding: 15px;
  }
  #contatos {
    flex-direction: column;
  }
  #contatos > div {
    width: 100%;
  }
  #contatos > div form {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 30px;
    filter: drop-shadow(3px 3px 6px #000000);
  }
  #local > .texto-map {
    border-radius: 8px 8px 8px 8px !important;
    width: 80%;
    max-width: 100%;
    margin: 0 auto;
    z-index: 100;
    display: flex;
    background-color: var(--navColor);
  }
  #local > .texto-map > h2 {
    color: var(--corFirst);
  }
  #local > .texto-map a {
    background-color: #ffffff;
  }

  #local > .texto-map::before {
    content: "";
    position: absolute;
    width: 90vw;
    height: 10px;
    background-color: var(--navColor);
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Centraliza em relação ao próprio elemento */
    z-index: -1;
  }
  #footer0 {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .container {
    padding: 0px;
  }
}

/****************** footer0 *****************/
#footer0 {
  user-select: none;
  max-width: var(--containerSize);
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 15px;
  text-align: center;
  background-color: #242424;
  color: #ffffff;
}
#footer0 div {
  margin: 15px;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
}
#footer0 #set-tag {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#footer0 div a {
  margin: 5px;
  font-family: "Times New Roman", Times, serif !important;
  color: #fff;
}

#footer0 h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-size: 15px !important;
  margin-bottom: 15px;
  color: #8b8989;
}
#footer0 p {
  text-align: justify;
  font-family: "Times New Roman", Times, serif !important;
  font-size: 15px !important;
  color: #fff;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 13; /* Defina o número máximo de linhas permitidas */
}
#footer0 p:hover,
#footer0 div a:hover {
  color: var(--corSecond);
}

/****************** footer *****************/
#footer {
  padding-left: 0 !important;
  background-color: #5e5656;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 70px;
  flex-direction: column;
}
#footer p::first-letter {
  padding-left: 0;
}
#footer a {
  text-decoration: none;
}

#footer div:nth-child(1) {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  flex-direction: row;
  background-color: #c4b586;
  height: 35px;
  width: 100%;
  align-items: center; /* Centraliza verticalmente */
  gap: 20px;
}
#footer div:nth-child(2) {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  flex-direction: column;
  height: auto;
  width: 100%;
  align-items: center; /* Centraliza verticalmente */
}
#footer div:nth-child(1) a {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  flex-direction: row;
  align-items: center; /* Centraliza verticalmente */
  color: #4d4a4a;
  gap: 10px;
}
#footer div:nth-child(1) a:hover {
  color: #947614;
}
#footer div:nth-child(2) {
  display: flex;
  color: #ccc;
}
#footer div:nth-child(2) a {
  color: #ccc;
}
#footer div:nth-child(2) span {
  color: #ffc400;
}
