* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #121212;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 30px;
}
header {
  display: flex;
  justify-content: center;
  height: 10vh;
  align-self: center;
}

a {
  text-decoration: none;
  color: white;
}
li {
  text-align: center;
  list-style: none;
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  align-items: flex-start;
  width: 220px;
  height: 100%;
  background-color: #000;
  padding: 0px 10px 30px 10px;
  border-right: 1px solid #2f3336;
  transition: all 0.2s;
  z-index: 100 !important;
}

.sidebar button {
  background-color: transparent;
  font-family: inherit;
  text-align: left;
  cursor: pointer;
  color: inherit;
  height: 48px;
  margin-bottom: 10px;
  padding: 0;
  border: 0;
  width: 200px;
  position: relative;
}

.sidebar button > span {
  display: inline-flex;
  align-items: center;
  height: 48px;
  border-radius: 24px;
  line-height: 1;
  transition: background-color 3s;
  width: 200px;
}
.sidebar button > span > a:nth-child(1) {
  width: 50%;
  padding: 7px 0;
}

.sidebar button > span > a:nth-child(2) {
  text-align: center;
  width: 50%;
  align-items: center;
  padding: 15px 0;
}

.sidebar button > span > a:nth-child(2) > span,
.sidebar button > span > a:nth-child(1) > i {
  pointer-events: none;
}

.sidebar button:hover > span {
  background-color: rgb(204, 204, 200, 0.2);
  font-weight: bold;
  transform: scale(1.05);
}
.sidebar button:not(:hover) > span {
  opacity: 0.5;
}
.sidebar button i {
  position: relative;
  font-size: 28px;
  transition: 0.2s;
  padding: 8px 0;
  left: 15px;
}

.sidebar a span {
  padding: 14px;
}

.sidebar button span span {
  font-size: 14px;
}

.sidebar-header {
  margin-top: 16px;
  width: 100%;
}

header .logo {
  width: 50px;
  height: 50px;
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.4s;
  cursor: pointer;
  border: 2px solid rgb(255, 255, 255);
  outline-offset: 5px;
  text-align: center;
  color: blue;
}

.logo:hover {
  transform: scale(1.2);
  outline: 2px solid rgb(255, 255, 255);
  outline-offset: 5px;
}

.sidebar > nav {
  /*flex-grow   = quanto vai crescer
      flex-shrink = quanto vai diminuir
      flex-basis  = tamanho base
    */
  flex: 1 1 auto;
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.main {
  position: relative;
  margin-left: 220px;
  overflow: hidden;
  width: calc(100%- 250px);
  overflow: hidden;
}
.main {
  background-color: rgb(90, 76, 76);
}

.menu-mobile1,
.button-mobile1 {
  display: none;
}

.active {
  color: rgb(0, 195, 255);
}

@media (width < 959px) {
  .sidebar {
    width: 72px;
    transition: width 1s;
    overflow: hidden;
  }
  .sidebar:hover {
    width: 240px;
    overflow: hidden;
    filter: drop-shadow(10px 0px 10px #000000);
  }
  .sidebar:hover button span span {
    opacity: 1;
    visibility: visible;
    transition: opacity 4s;
  }
  .sidebar button:hover > span {
    background-color: rgb(204, 204, 200, 0.2);
    font-weight: bold;
    transform: scale(1.05);
  }

  .sidebar button > span > a > span {
    opacity: 0;
    visibility: hidden;
  }
  .sidebar button > span {
    width: 210px;
  }
  .main {
    margin-left: 72px;
    transition: margin 0.5s;
  }
}

@media (max-width: 480px) {
  .sidebar {
    display: none;
  }
  .sidebar:hover {
    width: 100vw;
    filter: none;
  }
  .menu-mobile1 {
    display: flex;
  }

  .button-mobile {
    display: none;
  }
  .main {
    margin-left: 0px;
    margin-top: 6vh;
  }

  .menu-mobile {
    width: 100vw;
    height: 7vh;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #000000;
  }

  .menu-mobile-active {
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 66;
    position: fixed;
    top: 0px;
    left: 0;
    background-color: #000;
    overflow: hidden;
    transition: all 0.8s;
  }

  .menu-mobile-active nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    overflow: hidden;
  }

  .menu-mobile-active nav .button-mobile1 {
    display: none;
  }
  .menu-mobile-active nav .menu-mobile1 {
    display: flex !important;
    position: fixed !important;
    top: 5px !important;
    left: 0;
    color: #fffefe !important;
    width: 45px;
    transition-delay: 1s; /* adiciona 1 segundo de tempo de espera */
  }

  .menu-mobile-active nav .menu-mobile1 span {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .menu-mobile-active nav .menu-mobile1:hover span {
    color: #ff0000 !important;
  }

  .button-mobile1 {
    display: flex;
  }
  .menu-mobile nav button {
    display: none;
  }
  .menu-mobile .logo {
    display: none;
  }

  .menu-mobile button:nth-child(1) {
    display: flex;
    position: fixed;
    height: 6vh;
    top: 0;
    left: 0;
    color: white;
    padding: 5px 10px;
    margin: 0;
  }

  .sidebar button span:nth-child(1) i {
    gap: 0px;
    left: 0;
  }

  .menu-mobile button:nth-child(1) span,
  .menu-mobile-active nav .menu-mobile1 span {
    gap: 10px;
  }

  .menu-mobile button:nth-child(1):hover > span,
  .menu-mobile-active button:nth-child(2):hover > span {
    background-color: transparent !important;
    letter-spacing: 3px;
    color: grey;
  }

  .menu-mobile button > span > span {
    opacity: 1;
    visibility: visible;
  }

  .menu-mobile-active button > span > a > span {
    opacity: 1;
    visibility: visible;
  }
  .menu-mobile-active button:nth-child(1n + 3) > span {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    text-align: center;
  }

  .menu-mobile-active .logo {
    position: absolute;
    transform: translateX(-50%, 50%);
    margin: 0;
    padding: 0;
    border: 1px solid white;
  }
}

/************** CONTEUDO **************/

.main {
  background-color: white;
}

/******************************  inicio ******************************/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

#inicio {
  background-image: url(/img/earth.webp);
  background-attachment: fixed;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1c013b;
}

#inicio .imagem-texto {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#inicio .conteudo {
  position: relative;
  overflow: hidden;
}

#inicio .imagem-texto h1 {
  background-color: rgb(168, 168, 168, 0.2);
  padding: 30px;
  color: rgb(174, 102, 255);
  filter: drop-shadow(10px 10px 1px rgb(0, 0, 0));
  font-size: clamp(1rem, 1.5rem, 2rem);
  max-width: 80%;
  width: 100%;
  text-align: center;
}

#inicio div:nth-child(2) {
  color: white;
  width: 100%;
  height: 100%;
  text-align: center;
}

#inicio div:nth-child(2) p {
  background-color: #0f0314ad;
  padding: 15px;
  max-width: 98%;
  margin: 0 auto;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  filter: drop-shadow(10px 10px 1px rgb(0, 0, 0));
  margin-top: 30px;
  font-size: clamp(0.9rem, 1rem, 1.5rem);
}

@media (max-width: 480px) {
  #inicio div:nth-child(2) p {
    background-color: transparent;
  }
  #inicio {
    height: 85.5vh !important;
  }
}

#inicio #Digitalização:after {
  content: "|";
  opacity: 1;
  animation: piscar 0.8s infinite;
  color: white;
}

@keyframes piscar {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/***************           inicio 2 *****************/

#inicio2 .conteudo1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#inicio2 .conteudo1 img {
  width: 300px;
  height: 300px;
  margin-top: 30px;
  border-radius: 100%;
}
#inicio2 .conteudo1 legend {
  position: relative;
  z-index: 2;
  text-align: center;
  position: relative;
  color: rgb(0, 0, 0);
  top: -50px;
  background-color: rgba(253, 253, 253, 0.5);
  border: 2px solid rgb(255, 255, 255);
  width: 50%;
  margin: 0 auto;
}
#inicio2 .conteudo1 h2 {
  font-size: clamp(1rem, 1.5rem, 2rem);
  padding: 0;
  margin: 0;
}

#inicio2 .conteudo1 p {
  padding: 30px;
  border-radius: 10px 10px 120px 0px;
  text-align: justify;
  position: relative;
  margin: 0 15%;
  color: rgb(0, 0, 0);
}

#inicio2 .conteudo1 p:nth-child(3) {
  border-radius: 120px 0 10px 10px;
  position: relative;
  margin-bottom: 30px;
}
#inicio2 .conteudo1 p:nth-child(2)::after {
  content: "";
  position: absolute;
  border-left: 0px solid transparent;
  border-right: 100px solid transparent;
  border-top: 70px solid #ddd;
  left: 0px;
  bottom: -65px;
}

#inicio2 .conteudo1 p:nth-child(3)::after {
  content: "";
  position: absolute;
  border-left: 100px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 70px solid #ddd;
  right: 0px;
  top: -65px;
}

p {
  /*paragrafo*/
  text-indent: 1.5em;
  margin-top: 0;
  margin: 0;
}

@media (max-width: 750px) {
  #inicio2 .conteudo1 p {
    padding: 30px;
    border-radius: 10px 10px 120px 0px;
    text-align: justify;
    position: relative;
    margin: 0 30px;
    color: rgb(0, 0, 0);
  }
}

/******************************  CPU ******************************/
#cpu {
  display: flex;
  padding: 45px;
  position: relative;
  justify-content: center;
  align-self: center;
  background-color: #292556;
  color: white;
}

#cpu h1 {
  /* min     ideal      max   */
  font-size: clamp(1rem, 1.5rem, 2rem);
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
  width: 100%;
  text-shadow: 6px 5px 20px rgb(0, 0, 0);
  margin-bottom: 15px;
  font-style: italic;
  font-weight: bolder;
}

#cpu h2 {
  font-size: clamp(1rem, 1rem, 2rem);
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
  width: 100%;
  margin-top: 30px;
  text-shadow: 6px 5px 20px rgb(0, 0, 0);
  margin-bottom: 15px;
  font-style: italic;
  font-weight: bolder;
}

#cpu h1,
h2 {
  text-align: center;
}

#cpu > div:nth-child(1) {
  padding-right: 35px;
  padding-bottom: 35px;
  text-align: justify;
}

#cpu img {
  width: 33vw;
  height: 33vw;
  padding: 30px;
  position: relative;
  z-index: 1;
}

#cpu .foto::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30vw;
  height: 30vw;
  background-color: #8ba7bd;
  filter: drop-shadow(-25px -25px 1px black);
}
figure {
  position: relative;
  text-align: center;
}

legend {
  z-index: 2;
  text-align: center;
  position: absolute;
  color: rgb(0, 0, 0);
  bottom: 0px;
  background-color: rgba(253, 253, 253, 0.5);
  border: 2px solid rgb(255, 255, 255);
  width: 100%;
  margin: 0 auto;
}

legend a {
  color: red;
}

/****************************** placa mae ******************************/

#placa-mae {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  justify-content: center;
  align-self: center;
  padding: 45px;
  width: 100%;
}

#placa-mae h1 {
  /* min     ideal      max   */
  font-size: clamp(1rem, 1.5rem, 2rem);
  position: relative;
  text-align: center;
  color: rgb(0, 0, 0);
  width: 100%;
  text-shadow: 6px 5px 20px rgb(255, 255, 255);
  margin-bottom: 15px;
  font-style: italic;
  font-weight: bolder;
}

#placa-mae h2 {
  font-size: clamp(1rem, 1rem, 2rem);
  position: relative;
  text-align: center;
  color: rgb(0, 0, 0);
  width: 100%;
  margin-top: 30px;
  text-shadow: 6px 5px 20px rgb(255, 255, 255);
  margin-bottom: 15px;
  font-style: italic;
  font-weight: bolder;
}

#placa-mae > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0;
}

#placa-mae img {
  width: 33vw;
  height: 33vw;
  position: relative;
}

/****************************** placa video ******************************/

#placa-video {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-self: center;
  background-color: #282b59;
  padding: 45px;
  width: 100%;
  min-height: 80vh;
  color: #fff;
}
#placa-video > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  padding: 0;
  margin: 0;
}
#placa-video > div:nth-child(1) {
  padding-right: 35px;
}

#placa-video img {
  width: 33vw;
  height: 33vw;
  position: relative;
}

#placa-video ul {
  margin-top: 30px;
  text-align: center;
}
#placa-video ul li {
  text-align: justify;
  list-style-position: inside;
  list-style-type: square;
  font-style: italic;
}

#placa-video h1 {
  /* min     ideal      max   */
  font-size: clamp(1rem, 1.5rem, 2rem);
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
  width: 100%;
  text-shadow: 6px 5px 20px rgb(0, 0, 0);
  margin-bottom: 15px;
  font-style: italic;
  font-weight: bolder;
}

#placa-video h2 {
  font-size: clamp(1rem, 1rem, 2rem);
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
  width: 100%;
  margin-top: 30px;
  text-shadow: 6px 5px 20px rgb(0, 0, 0);
  margin-bottom: 15px;
  font-style: italic;
  font-weight: bolder;
}

/****************************** memoria ******************************/

#memoria {
  padding: 45px;
  width: 100%;
  text-align: center;
}
#memoria div:nth-child(1) {
  padding: 45px;
  width: 100%;
  text-align: center;
  padding: 0;
}

#memoria h1 {
  /* min     ideal      max   */
  font-size: clamp(1rem, 1.5rem, 2rem);
  position: relative;
  text-align: center;
  color: rgb(0, 0, 0);
  width: 100%;
  text-shadow: 6px 5px 20px rgb(255, 255, 255);
  margin-bottom: 15px;
  font-style: italic;
  font-weight: bolder;
}

#memoria h2 {
  font-size: clamp(1rem, 1rem, 2rem);
  position: relative;
  text-align: center;
  color: rgb(0, 0, 0);
  width: 100%;
  margin-top: 30px;
  text-shadow: 6px 5px 20px rgb(255, 255, 255);
  margin-bottom: 15px;
  font-style: italic;
  font-weight: bolder;
}

#memoria div:nth-child(2) {
  margin-top: 45px;
  display: flex;
  justify-content: space-around;
  width: 200px;
  position: absolute;
}

#memoria figure {
  text-align: center;
  width: 33vw;
  height: 33vw;
}

#memoria img {
  width: 100%;
  height: 100%;
}

#memoria .imagem-ram {
  width: 100%;
  height: 150px !important;
  display: flex;
  justify-content: center;
}
#memoria .imagem-ram figure {
  background-image: url(/img/ram1.webp);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  position: relative;
  text-align: center;
  width: 100%;
  height: 100% !important;
}

#memoria .imagem-ram figure legend {
  z-index: 2;
  text-align: center;
  position: absolute;
  color: rgb(0, 0, 0);
  bottom: 0px;
  background-color: rgba(253, 253, 253, 0.5);
  border: 2px solid rgb(255, 255, 255);
  width: 50%;
  margin: 0 auto;
  transform: translate(50%, -50%);
}

@media (max-width: 750px) {
  #memoria div:nth-child(2) {
    position: relative;
    margin: 30px auto;
  }
}

#triangulo-para-cima {
  display: flex;
  margin: 18px auto;
  width: 50px;
  height: 50px;
  border-left: 135px solid transparent;
  border-right: 135px solid transparent;
  border-bottom: 310px solid #100230;
  z-index: 10;
}

#triangulo-para-cima ul {
  margin-top: 68px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
}
#triangulo-para-cima ul li::after {
  content: "";
  position: absolute;
  width: 100px;
}

#triangulo-para-cima ul li {
  list-style: none;
  position: relative;
  text-align: center;
  width: 70vw;
  border-bottom: 1px solid #ffffff;
  margin-top: 15px;
  z-index: 9;
  color: white;
}

.setas {
  z-index: 10;
  font-weight: bolder;
  color: #100230;
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
}

#triangulo-para-cima h4 {
  z-index: 10;
  font-weight: bolder;
  color: rgb(255, 0, 0);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.setas div {
  height: 60%;
  display: flex;
  position: relative;
  align-self: center;
  justify-content: center;
  z-index: 10 !important;
  background-color: transparent;
}

.setas div .seta {
  height: 100px;
  width: 10px;
  background-color: #550404;
  display: flex;
  position: relative;
  align-self: center;
  text-align: center;
  justify-content: center;
  z-index: 10 !important;
  margin: 10px 0;
}

.seta::after {
  content: "";
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #550404;
  top: -10px;
}
.seta::before {
  content: "";
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #550404;
  bottom: -10px;
}

/****************************** FONTE  ******************************/
#fonte {
  display: grid;
  background-color: #babcd9;
  place-items: center;
  padding: 45px;
  color: #000;
  text-align: justify;
}

#fonte h1 {
  /* min     ideal      max   */
  font-size: clamp(1rem, 1.5rem, 2rem);
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
  width: 100%;
  text-shadow: 6px 5px 20px rgb(0, 0, 0);
  margin-bottom: 15px;
  font-style: italic;
  font-weight: bolder;
}

#fonte h2 {
  font-size: clamp(1rem, 1rem, 2rem);
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
  width: 100%;
  margin-top: 30px;
  text-shadow: 6px 5px 20px rgb(0, 0, 0);
  margin-bottom: 15px;
  font-style: italic;
  font-weight: bolder;
}

#fonte div {
  padding: 0;
  margin-bottom: 30px;
}

#fonte figure img {
  text-align: center;
  width: 100%;
  height: 33vw;
}
#fonte figure {
  text-align: center;
  width: 33vw;
  height: 33vw;
}
#fonte div:nth-child(2) {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/******************* footer***********************/

#footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 150px;
}
#footer div {
  width: 100%;
  height: 100%;
}
#footer h2 {
  position: absolute;
  top: -2px;
  margin: 0 auto !important;
  width: 100%;
  height: 20%;
  color: #000;
  font-size: clamp(0.5rem, 1rem, 1.5rem);
}

#footer p {
  text-indent: 0 !important;
}

#footer div:nth-child(1) {
  background-color: rgb(128, 128, 128, 0.2);
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  position: relative;
}

#footer div:nth-child(1) a {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
  border-right: 1px solid rgb(0, 0, 0);
  border-left: 1px solid rgb(0, 0, 0);
  flex-basis: calc(100% / 3);
  text-align: center;
  height: 80%;
  flex-basis: 50%;
  transition: all 0.8s;
  color: #000;
}

#footer div:nth-child(1) i {
  display: flex;
  flex-basis: calc(100% / 2);
  justify-content: center;
  align-items: center;
}

#footer div:nth-child(1) p {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto !important;
  width: 100%;
  height: 20%;
}

#footer div:nth-child(1) a:hover i {
  color: #008cff;
}
#footer div:nth-child(1) a:hover p {
  color: #474747;
  font-weight: bolder;
}
#footer div:nth-child(1) a:not(:hover) {
  opacity: 0.7;
}

#footer div:nth-child(2) {
  background-color: rgb(75, 73, 73);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
}

#footer div:nth-child(2) a,
#footer div:nth-child(2) p {
  color: rgb(255, 255, 255);
  line-height: 1px;
  font-size: clamp(0.3rem, 0.9rem, 1rem);
}

/*********************btn-subir***********************/
#btn-subir {
  visibility: hidden;
  position: fixed;
  bottom: 12px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-image: linear-gradient(rgb(41, 5, 41), rgb(70, 70, 122));
  animation: btnEfect 2s infinite ease-in-out;
  filter: drop-shadow(8px 8px 4px black);
}
#btn-subir a {
  color: #ccc;
}

@keyframes btnEfect {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

/*********************RESponsividade***********************/

@media (width < 959px) {
  #cpu {
    flex-direction: column;
  }

  #cpu img {
    width: 70vw !important;
    height: 70vw !important;
    padding: 30px !important;
  }
  #cpu > div {
    max-width: 100% !important;
  }
  #cpu > div:nth-child(2) {
    margin: auto 20px !important;
  }

  #cpu > div:nth-child(1) {
    padding-right: 0px;
    padding-bottom: 35px;
    text-align: justify;
  }

  .foto::after {
    content: "" !important;
    width: 62.5vw !important;
    height: 62.5vw !important;
  }

  #placa-mae {
    flex-direction: column !important;
  }
  #placa-mae > div {
    max-width: 100% !important;
  }

  .setas {
    align-items: center;
    text-align: center;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
  }
}

@media (max-width: 480px) {
  #triangulo-para-cima li {
    font-size: 0.8rem;
  }
  #placa-video {
    flex-direction: column;
  }
  #placa-video > div:nth-child(1) {
    padding-right: 0px;
  }

  #placa-video img,
  #placa-mae img,
  #fonte figure {
    width: 100%;
  }
  #footer div:nth-child(1) a:hover i {
    color: #008cff;
  }

  #cpu > div:nth-child(1) {
    padding-right: 0px;
    padding-bottom: 35px;
    text-align: justify;
  }
}
