.custom-shape-divider-top-1669854339 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1669854339 svg {
    position: relative;
    display: block;
    width: calc(100% + 1px);
    height: 159px;
}

.custom-shape-divider-top-1669854339 .shape-fill {
    fill: #ff0000;
}

